.titleShort {
  width: 50%;
  border-radius: 0 !important;
}

.crudForm input {
  border-radius: 0;
}

.crudForm button {
  margin-top: 1rem;
}
.taskBotonera {
  width: fit-content !important;
}

@media screen and (max-width: 410px) {
  .taskBotonera {
    display: block !important;
  }
}
