.scroll_to_top_btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--background-color-dark);
  color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.visible {
  display: block;
}
